doctype html
html 
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            title Natours | #{title}

    body 
        // HEADER
        include _header


        // Content
        block content
            h1 This is a placeholder heading

        // FOOTER
        include _footer


        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js')
        //- script(src='/js/login.js')
        //- script(src='/js/leaflet.js')
        script(src='/js/bundle.js')
        


